myLegalName = "O=Diahnne Abbott,L=New York,C=US"
devMode = true
emailAddress = "diahnne_abbott@fci.helwan.edu"
p2pAddress="diahnne-abbott:10002"
rpcSettings {
    address="diahnne-abbott:10013"
    adminAddress="diahnne-abbott:10043"
    standAloneBroker=false
    useSsl=false
}
security { authService {
                   dataSource {
                       type=INMEMORY
                       users=[
                            {
                       password=test
                    permissions=[
                        ALL
                    ]
                    user=user1
                             }
                       ]
                   }
               }
               }
sshd = {
	port = 2223
}
dataSourceProperties {
    dataSource {
        url="jdbc:h2:file:./persistence/persistence;DB_CLOSE_ON_EXIT=FALSE;WRITE_DELAY=0;LOCK_TIMEOUT=10000"
    }
}
detectPublicIp=false