myLegalName = "O=Network Map,L=Fegas,C=US"
devMode = true
emailAddress = "cordaNetworkAdmin@fci.helwan.edu"
p2pAddress="0.0.0.0:8080"
rpcSettings {
    address="0.0.0.0:1001"
    adminAddress="0.0.0.0:1002"
    standAloneBroker=false
    useSsl=false
}
security { authService {
                   dataSource {
                       type=INMEMORY
                       users=[
                            {
                       password=test
                    permissions=[
                        ALL
                    ]
                    user=user1
                             }
                       ]
                   }
               }
               }
sshd = {
	port = 1337
}
dataSourceProperties {
    dataSource {
        url="jdbc:h2:file:./persistence/persistence;DB_CLOSE_ON_EXIT=FALSE;WRITE_DELAY=0;LOCK_TIMEOUT=10000"
    }
}
detectPublicIp=false