myLegalName = "O=Notary,L=London,C=GB"
devMode = true
emailAddress = "notary@fci.helwan.edu"
p2pAddress="notary:10002"
rpcSettings {
    address="notary:10011"
    adminAddress="notary:10041"
    standAloneBroker=false
    useSsl=false
}
security { authService {
                   dataSource {
                       type=INMEMORY
                       users=[
                            {
                       password=test
                    permissions=[
                        ALL
                    ]
                    user=user1
                             }
                       ]
                   }
               }
               }
sshd = {
	port = 2221
}

dataSourceProperties {
    dataSource {
        url="org.h2.jdbc:h2:file:./persistence/persistence;DB_CLOSE_ON_EXIT=FALSE;WRITE_DELAY=0;LOCK_TIMEOUT=10000"
    }
}
detectPublicIp=false