myLegalName = "O=Oracle,L=Sopot,C=PL"
devMode = true
emailAddress = "oracle@fci.helwan.edu"
p2pAddress="0.0.0.0:8080"
rpcSettings {
    address="0.0.0.0:1001"
    adminAddress="0.0.0.0:1002"
    standAloneBroker=false
    useSsl=false
}
security { authService {
                   dataSource {
                       type=INMEMORY
                       users=[
                            {
                       password=test
                    permissions=[
                        ALL
                    ]
                    user=user1
                             }
                       ]
                   }
               }
               }
sshd = {
	port = 1338
}
dataSourceProperties {
    dataSource {
        url="org.h2.jdbc:h2:file:./persistence/persistence;DB_CLOSE_ON_EXIT=FALSE;WRITE_DELAY=0;LOCK_TIMEOUT=10000"
    }
}
detectPublicIp=false