myLegalName = "O=Peter Boyle,L=Los Angelos,C=US"
devMode = true
emailAddress = "peter_boyle@fci.helwan.edu"
p2pAddress="peter-boyle:10002"
rpcSettings {
    address="peter-boyle:10014"
    adminAddress="peter-boyle:10044"
    standAloneBroker=false
    useSsl=false
}
security { authService {
                   dataSource {
                       type=INMEMORY
                       users=[
                            {
                       password=test
                    permissions=[
                        ALL
                    ]
                    user=user1
                             }
                       ]
                   }
               }
               }
sshd = {
	port = 2224
}
dataSourceProperties {
    dataSource {
        url="jdbc:h2:file:./persistence/persistence;DB_CLOSE_ON_EXIT=FALSE;WRITE_DELAY=0;LOCK_TIMEOUT=10000"
    }
}
detectPublicIp=false