myLegalName = "O=Robert Anthony,L=London,C=GB"
devMode = true
emailAddress = "robert_anthony@fci.helwan.edu"
p2pAddress="robert-anthony:10002"
rpcSettings {
    address="robert-anthony:10012"
    adminAddress="robert-anthony:10042"
    standAloneBroker=false
    useSsl=false
}
security { authService {
                   dataSource {
                       type=INMEMORY
                       users=[
                            {
                       password=test
                    permissions=[
                        ALL
                    ]
                    user=user1
                             }
                       ]
                   }
               }
               }
sshd = {
	port = 2222
}
dataSourceProperties {
    dataSource {
        url="jdbc:h2:file:./persistence/persistence;DB_CLOSE_ON_EXIT=FALSE;WRITE_DELAY=0;LOCK_TIMEOUT=10000"
    }
}
detectPublicIp=false